{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Inscription {% endblock %}

{% block body %}

    <div class="flex items-center justify-center px-4 py-4">
        <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
            <div class="md:flex w-full">
                <div class="hidden md:block w-1/2 py-10 px-10">
                    <img src="{{ asset('images/recipes.svg') }}" alt="recipes logo ">
                </div>
                <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                    <div class="text-center mb-10">
                        <h1 class="font-bold text-3xl text-gray-900">S'inscrire</h1>
                        <p>Entrez vos informations pour vous inscrire</p>
                    </div>
                    <div>

                        {{ form_start(form) }}


                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                {{ form_label(form.nickname,"Pseudo",{
                                    'label_attr': {'class': 'text-xs font-semibold px-1'}
                                }) }}
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                        <i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                                    {{ form_widget(form.nickname,
                                        {'attr': {
                                            'class': 'w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500'
                                        }}) }}
                                </div>
                            </div>

                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                {{ form_label(form.email,"Email",{
                                    'label_attr': {'class': 'text-xs font-semibold px-1'}
                                }) }}
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                        <i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
                                    {{ form_widget(form.email,
                                        {'attr': {
                                            'class': 'w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500'
                                        }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-12">
                                {{ form_label(form.password,"Mot de passe",{
                                    'label_attr': {'class': 'text-xs font-semibold px-1'}
                                }) }}
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                        <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                                    {{ form_widget(form.password,
                                        {'attr': {
                                            'class': 'w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500'
                                        }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <button class="block w-full max-w-xs mx-auto bg-primary hover:bg-primary focus:bg-primary text-white rounded-lg px-3 py-3 font-semibold">
                                    S'inscrire
                                </button>
                            </div>
                        </div>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}
